[Unit]
Description=SCM Lab Farm Island GitOps Deploy Timer
Requires=farm-deploy.service

[Timer]
# Check for new commits every 15 minutes
OnCalendar=*:0/15
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
